name: Build and deploy
on: [push]
jobs:
  Build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload JAR as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PickupBot
          path: build/libs/PickupBot.jar
      - name: Deploy jar to server
        uses: garygrossgarten/github-action-scp@release
        with:
          local: PickupBot.jar
          remote: /home/pug/PickupDiscord/PickupBot.jar
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
